.container {
  height: calc(100vh - 170px);
}


#showpage-picture {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: right;
  background-size: center;
}

#showpage-text {
  margin-top: 50px;
  margin-bottom: 50px;
}
