<div class="navbar-wagon">
  <!-- Logo -->
<!--   <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a> -->
  <%= link_to image_tag('bF7iQn6.jpg'), cocktails_path , class: "navbar-wagon-brand" %>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Create Cocktail", new_cocktail_path, class: "navbar-wagon-link" %>
  </div>
</div>
