<div class="navbar-wagon">
  <!-- Logo -->
<!--   <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a> -->
  <%= image_tag 'bF7iQn6.jpg', class: "navbar-wagon-brand", size: "90x60"%>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Create Cocktail", new_cocktail_path, class: "navbar-wagon-link" %>
    <%= link_to "Back to mainpage", cocktails_path , class: "navbar-wagon-link" %>
  </div>
</div>
